button.toggle {
  padding: 10px;
}

#items-left {
  padding: 0 20px;
}

#tasks checkbutton {
  padding: 10px;
}

#entry {
  padding: 20px;
}

checkbutton check {
  min-width: 30px;
  min-height: 30px;
}
